:root {
  --primary: #757575;
  --pLight: #A4A4A4;
  --pDark: #494949;
  --secondary: #9999FF;
  --sLight: #cdcaff;
  --sDark: #666bcb;
}

#primeBG {
  color: #FFFFFF;
  background-color: var(--primary);
}

#plightBG {
  color: #FFFFFF;
  background-color: var(--pLight);
}

#whiteText {
  color: #FFFFFF;
}

#secondaryBG {
  color: #000000;
  background-color: var(--secondary);
}

img {
  width: 300px;
  height: 160px;
}

.light-button {
  background-color: var(--secondary);
  border: 2px solid var(--sLight);
}

.dark-button {
  background-color: var(--secondary);
  border: 2px solid var(--sDark);
}

.pre-header {
  position: absolute;
  top: 0px;
  width: 99%;
  height: 10px;
  border-left: 10px;
  border-right: 10px;
  background-color: var(--pDark);
}

.header {
  position: absolute;
  top: 10px;
  width: 99%;
  height: 150px;
  border-left: 10px;
  border-right: 10px;
  background-color: var(--primary);
  text-align: center;
}

.post-header {
  position: absolute;
  top: 160px;
  width: 99%;
  height: 10px;
  border-left: 10px;
  border-right: 10px;
  background-color: var(--pLight);
}

.menu-left {
  position: absolute;
  top: 30px;
  left: 80px;
  height: 100px;
  font: bold 30px Helvetica, sans-serif;
}
.menu-right {
  position: absolute;
  top: 30px;
  right: 80px;
  height: 100px;
  font: bold 30px Helvetica, sans-serif;
}
.bereft-land {
  position: absolute;
  top: 180px;
  border-left: 10px;
  border-right: 10px;
}
.footer {
  position: absolute;
  bottom: 10px;
  height: 30px;
  width: 99%;
  border-left: 10px;
  border-right: 10px;
  background-color: var(--primary);
}
