<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="shortcut icon" href="./img/favicon.png">
  <script src="./js/webapp.js"></script>
  <title>{{title}}</title>
</head>
<body>
{{>header}}

<div class="bereft-land">
  <p>Man, I sure do love experimenting with HTML and CSS.  Its been so long, I only sort of know what I'm doing.</p>
  <p>{{test}}</p>
  <button class="light-button">Light Button</button>
  <button class="dark-button">Dark Button</button>
</div>
<div class="footer">
  <p id="primeBG" style="text-align:center; position: relative; bottom: 10px">3DeRox LLC - 2021</p>
</div>
</body>
</html>
