<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="shortcut icon" href="./img/favicon.png">
  <script src="./js/webapp.js"></script>
  <title>{{title}}</title>
</head>
<body>
  {{>header}}
  <div class="bereft-land">
<p>Parts Page Goes Here</p>
</div>
</body>
</html>
