<div class="pre-header">
</div>
<div class="header">
  <div class="menu-left">
    <p id="whiteText">Parts      |      Projects</p>
  </div>
  <div class="menu-right">
    <p id="whiteText">Contact      |      About</p>
  </div>
  <img src="./img/DeroxLogo.png"></p>
</div>
<div class="post-header">
</div>
